<html>

<head>
    <title>System Monitoring</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <div class="head">
        <h2>Qebbi System Information Dashboard</h2>
        <hr>
    </div>  

    <div class="info">
    <table class="table">
      
        <thead>
          <tr>
            <th scope="col">Identifier</th>
            <th scope="col">Machine</th>
            <th scope="col">Uptime</th>
            <th scope="col">CPU load</th>
            <th scope="col">RAM usage</th>
            <th scope="col">DISK usage</th>
          </tr>
        </thead>
        <tbody>
          {% for who in user %}
            {% for item in machine %}
              {% for elem in uptime %}
          <tr>
            <td>{{who}}</td>
            <td>{{item}}</td>
            <td>{{elem}}</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
          </tr>
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  
    <button class="logs">Logs</button>
    <br>
    <br>
    <button class="logs">Logs</button>

</body>
</html>