<html>

<head>
    <title>System Monitoring</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <meta http-equiv="refresh" content="1">
</head>


<body>
    <h1>System Monitor</h1>
    <table>
        <h3>{% for item in data %}</h3>
        <tr>
          <th>Hostname</th>
          <th>IP Address</th>
          <th>OS</th>
          <th>Uptime</th>
          <th>CPU load</th>
          <th>Disk Usage</th>
          <th>Temperature</th>
          <th>RAM Usage</th>
        </tr>
        <tr>
          <td>{{item[2]}}</td>
          <td>{{item[3]}}</td>
          <td></td>
          <td>{{item[1]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <h3>{% endfor %}</h3>
      </table>
    </body>
</html>