<html>

<head>
    <title>System Monitoring</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta http-equiv="refresh" content="1";>


</head>

<body>
    <div class="head">
        <h3>Qebbi System Information Dashboard</h3>
        <hr>
        <button type="button" class="btn btn-danger">
          Total warnings <span class="badge badge-light">4</span>
        </button>
        <button type="button" class="btn btn-primary">
          Logs <span class="badge badge-light">2</span>
        </button>
    </div>  

    <div class="info">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Identifier</th>
            <th scope="col">Machine</th>
            <th scope="col">Uptime</th>
            <th scope="col">CPU load (%)</th>
            <th scope="col">RAM usage (%)</th>
            <th scope="col">DISK space (available)</th>
            <th scope="col">Processes</th>
            <th scope="col">Threads</th>
            <th scope="col">IP</th>
          </tr>
        </thead>
          <tbody>
            {% for id in data %}
          <tr>
            <td><h5><span class="badge badge-primary">{{id}}</span></h5></td>
            {% for elem in data[id] %}
              {% for key, value in elem.items() %}
            <td><h5><span class="badge badge-info">{{value}}</span></h5></td>
              {% endfor %}
            {% endfor %}
          </tr> 
        </tbody>
        {% endfor %}
      </table>
    </div>

    <div class="alerts">
    <div class="alert alert-primary" role="alert">
      Version 1.1 rolled out! - <a href="#" class="alert-link">check details</a>
    </div>
    <div class="alert alert-danger" role="alert">
      1 warning detected - <a href="#" class="alert-link">check it out</a>
    </div>
    <div class="alert alert-warning" role="alert">
     Failed startup script at 192.168.22.1 - <a href="#" class="alert-link">check it out</a>
    </div>
  </div>
</body>
<footer>Copyright © ClownSec</footer>
</html>