

.head {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.info {
  padding-left: 30px;
  padding-right: 30px;
}

.logs {
  width: 200px;
  height: 40px;
  position: absolute;
  left: 45%;
  border: none;
}

.logs:hover{
  background-color: blanchedalmond;
  transition: 1s;
}

.alert {
  width: 500px;
  text-align: center;
  margin-left: 30px;
}

.alerts {
  margin-top: 500px;
}

footer {
  text-align: center;
}